.navbar-brand
{
    color: white;
    text-transform: capitalize;
}
#side_bar
{
    background-color: whitesmoke;
    padding: 50px;
    width: 300px;
    height: 600px;
}
*{
    /* Float to the right on screens that are equal to or less than 768px wide */
@media (max-width: 768px) {
    .float-right-sm {
      float: right;
    }
  }
  
  /* Float to the right on screens that are equal to or greater than 769px wide */
  @media (min-width: 769px) {
    .float-right-lg {
      float: right;
    }
  }
}